@model Tickets.Models.Ticket
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<br />
<form>
    <div class="form-group">
        @Html.LabelFor(m => m.Summary)
        @Html.TextBoxFor(m => m.Summary, new { @class = "form-control"})
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>